$inter: 'Inter', sans-serif;
$poppins: 'Poppins', sans-serif;
$blued: #18216D;

@mixin ForHeader ($align) {
    display: flex;
    align-items: $align;
}

@mixin ForLogo ($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin ForNav ($align) {
    display: flex;
    align-items: $align;
}

@mixin ForNavItem ($align) {
    display: flex;
    align-items: $align;
}

.site {
    &_header {
        @include ForHeader(center);
        width: 1400px;
        height: 52px;
        background: aqua;
        margin: 0 auto;
        &_logo {
            @include ForLogo(center, space-between);
            width: 114px;
            height: 32px;
            &_img {
                width: 32px;
                height: 32px;
            }
            &_p {
                font-family: $inter;
                color: $blued;
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                text-align: center;
            }
        }
        &_nav {
            width: 507px;
            height: 20px;
            &_navitem {
                
                &_ul {
                    @include ForNav(center);
                }
            }
        }
    }
}