.site_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  height: 52px;
  margin: 0 auto;
}
.site_header_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 114px;
  height: 32px;
}
.site_header_logo_img {
  width: 32px;
  height: 32px;
}
.site_header_logo_p {
  font-family: "Inter", sans-serif;
  color: #18216D;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
.site_header_nav {
  width: 507px;
  height: 20px;
}
.site_header_nav_navitem_ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site_header_nav_navitem_ul_li {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}
.site_header_nav_navitem_ul_a {
  text-decoration: none;
  transition-duration: 1s;
  border-bottom: 2px solid rgba(24, 32, 109, 0);
  color: #18216D;
}
.site_header_nav_navitem_ul_a:hover {
  transition-duration: 1s;
  border-bottom: 2px solid #18216D;
}
.site_header_headbtns_btnw {
  width: 136px;
  height: 52px;
  background: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.site_header_headbtns_btnw_p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #18216D;
}
.site_header_headbtns_btnb {
  width: 136px;
  height: 52px;
  background: #18216D;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.site_header_headbtns_btnb_p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #E5E5E5;
}

.main_site_block1 {
  display: flex;
  justify-content: center;
}
.main_site_block1_left {
  width: 498px;
  height: 284px;
  margin-top: 179px;
}
.main_site_block1_left_title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #18216D;
}
.main_site_block1_left_text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #18216D;
  margin-top: 16px;
}
.main_site_block1_left_btn {
  width: 180px;
  height: 66px;
  border: none;
  border-radius: 6px;
  background: #00ECD0;
  margin-top: 34px;
  cursor: pointer;
}
.main_site_block1_left_btn_p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  -moz-column-rule: #18216D;
       column-rule: #18216D;
}
.main_site_block1_right {
  position: relative;
  width: 786px;
  height: 518.35px;
  margin-top: 65.76px;
}
.main_site_block1_right_img {
  position: absolute;
  width: 100%;
  left: -100px;
}
.main_site_block2 {
  display: flex;
  justify-content: center;
}
.main_site_block2_left {
  width: 494px;
  height: 150px;
  margin-top: 122px;
}
.main_site_block2_left_p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  color: #18216D;
}
.main_site_block2_right {
  display: flex;
  justify-content: space-between;
  width: 336px;
  height: 121px;
  margin-top: 135px;
  margin-left: 475px;
}
.main_site_block2_right_downloads {
  width: 136px;
  height: 114px;
}
.main_site_block2_right_downloads_title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1px;
  color: #18216D;
}
.main_site_block2_right_downloads_imgs {
  display: flex;
  width: 100px;
  height: 14px;
  margin-top: 10px;
}
.main_site_block2_right_downloads_imgs_img {
  width: 16px;
  height: 14px;
}
.main_site_block2_right_downloads_p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-top: 12px;
  color: #18216D;
}
.main_site_block2_right_rating {
  width: 107px;
  height: 117px;
}
.main_site_block2_right_rating_title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1px;
  color: #18216D;
}
.main_site_block2_right_rating_imgs {
  display: flex;
  width: 107px;
  height: 16px;
  margin-top: 8px;
}
.main_site_block2_right_rating_imgs_img {
  width: 17px;
  height: 16px;
}
.main_site_block2_right_rating_p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-top: 12px;
  color: #18216D;
}
.main_site_block3 {
  display: flex;
  justify-content: center;
  margin-top: 49px;
}
.main_site_block3_img {
  width: 1110px;
  height: 34.88px;
}
.main_site_block4 {
  margin: 0 auto;
  width: 542px;
  height: 123px;
  margin-top: 131px;
}
.main_site_block4_title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: center;
  text-transform: capitalize;
  color: #18216D;
}
.main_site_block4_p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #18216D;
  margin-top: 12px;
}
.main_site_block5 {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
.main_site_block5_left {
  width: 310px;
  height: 266px;
}
.main_site_block5_left_divimg {
  width: 72px;
  height: 72px;
}
.main_site_block5_left_divimg_img {
  width: 72px;
  height: 72px;
}
.main_site_block5_left_title {
  font-family: "Inter", sans-serif;
  margin-top: 28px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #18216D;
}
.main_site_block5_left_p {
  font-family: "Inter", sans-serif;
  margin-top: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.6;
  color: #18216D;
}
.main_site_block5_left_ln {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  color: #18216D;
  text-decoration: none;
}
.main_site_block5_left_lnp {
  margin-top: 30px;
}
.main_site_block5_middle {
  width: 310px;
  height: 266px;
  margin-left: 80px;
}
.main_site_block5_middle_divimg {
  width: 56px;
  height: 72px;
}
.main_site_block5_middle_divimg_img {
  width: 56px;
  height: 72px;
}
.main_site_block5_middle_title {
  font-family: "Inter", sans-serif;
  margin-top: 28px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #18216D;
}
.main_site_block5_middle_p {
  font-family: "Inter", sans-serif;
  margin-top: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.6;
  color: #18216D;
}
.main_site_block5_middle_ln {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  color: #18216D;
  text-decoration: none;
}
.main_site_block5_middle_lnp {
  margin-top: 30px;
}
.main_site_block5_right {
  width: 310px;
  height: 300px;
  margin-left: 80px;
}
.main_site_block5_right_divimg {
  width: 71px;
  height: 72px;
}
.main_site_block5_right_divimg_img {
  width: 71px;
  height: 72px;
}
.main_site_block5_right_title {
  font-family: "Inter", sans-serif;
  margin-top: 28px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #18216D;
}
.main_site_block5_right_p {
  font-family: "Inter", sans-serif;
  margin-top: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.6;
  color: #18216D;
}
.main_site_block5_right_ln {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  color: #18216D;
  text-decoration: none;
}
.main_site_block5_right_lnp {
  margin-top: 30px;
}
.main_site_block6 {
  display: flex;
  justify-content: center;
  background-color: #e4effe;
  margin-top: 130px;
  height: 593px;
  width: 100%;
}
.main_site_block6_left {
  width: 484px;
  height: 297px;
  margin-top: 143px;
}
.main_site_block6_left_title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #18216D;
}
.main_site_block6_left_p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.8;
  color: #18216D;
  margin-top: 15px;
}
.main_site_block6_left_btn {
  width: 160px;
  height: 52px;
  background: #005FEC;
  border-radius: 6px;
  margin-top: 56px;
  border: none;
  cursor: pointer;
}
.main_site_block6_left_btnp {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #fff;
}
.main_site_block6_right {
  margin-top: 78px;
  margin-left: 106px;
}
.main_site_block6_right_img {
  width: 690px;
  height: 437px;
}
.main_site_block7 {
  display: flex;
  justify-content: center;
}
.main_site_block7_left {
  position: relative;
  width: 572px;
  height: 508px;
  display: flex;
  justify-content: center;
  margin-top: 130px;
  margin-right: 95px;
}
.main_site_block7_left_points {
  position: absolute;
  z-index: -1;
  top: 366px;
  left: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 122px;
  height: 118px;
}
.main_site_block7_left_points_point {
  width: 6px;
  height: 6px;
  background: rgba(0, 94, 236, 0.062745098);
  border-radius: 50%;
}
.main_site_block7_left_img {
  width: 400px;
  height: 450px;
}
.main_site_block7_left_meet {
  position: absolute;
  left: 335px;
  top: 351px;
  width: 184px;
  height: 150px;
  padding: 0 25px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: -4px 8px 20px rgba(24, 33, 109, 0.05);
}
.main_site_block7_left_meet_title {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #18216D;
  margin-top: 18px;
}
.main_site_block7_left_meet_imgs {
  width: 132px;
  margin: 0 auto;
  position: relative;
  margin-top: 8px;
}
.main_site_block7_left_meet_imgs_img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #FFF;
}
.main_site_block7_left_meet_btns {
  margin-left: 42px;
  margin-top: 16px;
}
.main_site_block7_left_meet_btns_btn {
  width: 100px;
  height: 30px;
  background: #DAE9FF;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #005FEC;
  border: none;
  border-radius: 4px;
}
.main_site_block7_right {
  width: 496px;
  height: 436px;
  margin-top: 130px;
}
.main_site_block7_right_title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #18216D;
}
.main_site_block7_right_p {
  font-family: "Inter", sans-serif;
  color: #18216D;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-top: 16px;
}
.main_site_block7_right_items {
  width: 310px;
  height: 108px;
  margin-top: 31px;
}
.main_site_block7_right_items_item {
  display: flex;
  align-items: center;
  margin-top: 28px;
}
.main_site_block7_right_items_item_img {
  width: 19.97px;
  height: 19.97px;
}
.main_site_block7_right_items_item_p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  margin-left: 16px;
  color: #18216D;
}
.main_site_block7_right_btn {
  width: 164px;
  height: 54px;
  background: #005FEC;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFF;
  border: none;
  margin-top: 52px;
  cursor: pointer;
}
.main_site_block8 {
  display: flex;
  justify-content: center;
  margin-top: 131px;
}
.main_site_block8_div {
  width: 542px;
  height: 244px;
}
.main_site_block8_div_title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -1px;
  text-transform: capitalize;
  color: #18216D;
}
.main_site_block8_div_p {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #18216D;
  margin-top: 20px;
}
.main_site_block8_div_btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 272px;
  height: 60px;
  background: #DAE9FF;
  border-radius: 6px;
  margin-top: 40px;
}
.main_site_block8_div_btns_btn1 {
  font-family: "Inter", sans-serif;
  width: 135px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 6px;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  color: #005FEC;
  border: none;
  cursor: pointer;
}
.main_site_block8_div_btns_btn2 {
  background: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  color: #18216D;
  border: none;
  cursor: pointer;
}
.main_site_block9 {
  display: flex;
  justify-content: center;
}
.main_site_block9_left {
  width: 355px;
  height: 630px;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  margin-top: 80px;
  background: #FFFFFF;
  margin-left: 45px;
}
.main_site_block9_left_bl1 {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 0px 0px;
  width: 355px;
  height: 160px;
}
.main_site_block9_left_bl1_content {
  width: 77px;
  height: 72px;
  margin-left: 41px;
  margin-top: 22px;
}
.main_site_block9_left_bl1_content_p1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  color: #18216D;
}
.main_site_block9_left_bl1_content_p2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #18216D;
}
.main_site_block9_left_bl2 {
  margin-top: 39px;
  margin-left: 41px;
  width: 249px;
  height: 361px;
}
.main_site_block9_left_bl2_ul {
  width: 249px;
  height: 268px;
}
.main_site_block9_left_bl2_ul_li {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.main_site_block9_left_bl2_ul_li_img {
  width: 22px;
  height: 22.39px;
}
.main_site_block9_left_bl2_ul_li_p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #18216D;
  margin-left: 12px;
}
.main_site_block9_left_bl2_ul_li_p1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #18216D;
  opacity: 0.5;
  margin-left: 12px;
}
.main_site_block9_left_bl2_ul_li_p2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #18216D;
  opacity: 0.5;
  margin-left: 12px;
}
.main_site_block9_left_bl2_btn {
  width: 181px;
  height: 52px;
  margin-top: 40px;
  background: #005FEC;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
.main_site_block9_middle {
  width: 355px;
  height: 630px;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  margin-top: 80px;
  background: #FFFFFF;
  margin-left: 45px;
}
.main_site_block9_middle_bl1 {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 0px 0px;
  width: 355px;
  height: 160px;
}
.main_site_block9_middle_bl1_content {
  width: 143px;
  height: 84px;
  margin-left: 41px;
  margin-top: 22px;
}
.main_site_block9_middle_bl1_content_p1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  color: #18216D;
}
.main_site_block9_middle_bl1_content_p2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #18216D;
}
.main_site_block9_middle_bl1_content_span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #6D6D6D;
}
.main_site_block9_middle_bl2 {
  margin-top: 39px;
  margin-left: 41px;
  width: 249px;
  height: 361px;
}
.main_site_block9_middle_bl2_ul {
  width: 249px;
  height: 268px;
}
.main_site_block9_middle_bl2_ul_li {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.main_site_block9_middle_bl2_ul_li_img {
  width: 22px;
  height: 22.39px;
}
.main_site_block9_middle_bl2_ul_li_p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #18216D;
  margin-left: 12px;
}
.main_site_block9_middle_bl2_ul_li_p1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #18216D;
  opacity: 0.5;
  margin-left: 12px;
}
.main_site_block9_middle_bl2_btn {
  width: 181px;
  height: 52px;
  margin-top: 40px;
  background: #005FEC;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
.main_site_block9_right {
  width: 355px;
  height: 630px;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  margin-top: 80px;
  background: #FFFFFF;
  margin-left: 45px;
}
.main_site_block9_right_bl1 {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px 10px 0px 0px;
  width: 355px;
  height: 160px;
}
.main_site_block9_right_bl1_content {
  width: 143px;
  height: 84px;
  margin-left: 41px;
  margin-top: 22px;
}
.main_site_block9_right_bl1_content_p1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  color: #18216D;
}
.main_site_block9_right_bl1_content_p2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #18216D;
}
.main_site_block9_right_bl1_content_span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #6D6D6D;
}
.main_site_block9_right_bl2 {
  margin-top: 39px;
  margin-left: 41px;
  width: 249px;
  height: 361px;
}
.main_site_block9_right_bl2_ul {
  width: 249px;
  height: 268px;
}
.main_site_block9_right_bl2_ul_li {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.main_site_block9_right_bl2_ul_li_img {
  width: 22px;
  height: 22.39px;
}
.main_site_block9_right_bl2_ul_li_p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #18216D;
  margin-left: 12px;
}
.main_site_block9_right_bl2_btn {
  width: 181px;
  height: 52px;
  margin-top: 40px;
  background: #005FEC;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}
.main_site_block10 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 650px;
  background: #FAFAFA;
  margin-top: 130px;
}
.main_site_block10_left {
  width: 609px;
  height: 371px;
  margin-top: 140px;
}
.main_site_block10_left_title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  color: #18216D;
}
.main_site_block10_left_p {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  color: #18216D;
  margin-top: 55px;
}
.main_site_block10_left_name {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 26px;
  color: #18216D;
  margin-top: 33px;
}
.main_site_block10_left_minip {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #18216D;
  opacity: 0.6;
  margin-top: 6px;
}
.main_site_block10_right {
  margin-top: 100px;
  margin-left: 106px;
}
.main_site_block11 {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}
.main_site_block11_cont1 {
  width: 232px;
  height: 166px;
}
.main_site_block11_cont1_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 114px;
  height: 32px;
}
.main_site_block11_cont1_logo_img {
  width: 114px;
  height: 32px;
}
.main_site_block11_cont1_logo_p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #18216D;
  margin-left: 11.77px;
}
.main_site_block11_cont1_p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #18216D;
  opacity: 0.9;
  margin-top: 19px;
}
.main_site_block11_cont1_btns {
  width: 212px;
  height: 30px;
  margin-top: 20px;
}
.main_site_block11_cont2 {
  width: 112px;
  height: 243px;
  margin-left: 100px;
}
.main_site_block11_cont2_p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #18216D;
}
.main_site_block11_cont2_ul {
  margin-top: 15px;
  list-style: none;
}
.main_site_block11_cont2_ul_li_a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #18216D;
}
.main_site_block11_cont3 {
  width: 112px;
  height: 243px;
  margin-left: 100px;
}
.main_site_block11_cont3_p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #18216D;
}
.main_site_block11_cont3_ul {
  margin-top: 15px;
  list-style: none;
}
.main_site_block11_cont3_ul_li_a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #18216D;
}
.main_site_block11_cont4 {
  width: 112px;
  height: 243px;
  margin-left: 100px;
}
.main_site_block11_cont4_p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #18216D;
}
.main_site_block11_cont4_ul {
  margin-top: 15px;
  list-style: none;
}
.main_site_block11_cont4_ul_li_a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #18216D;
}
.main_site_block11_cont5 {
  width: 274px;
  height: 162px;
  margin-left: 100px;
}
.main_site_block11_cont5_title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #18216D;
}
.main_site_block11_cont5_email {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  color: #18216D;
  opacity: 0.8;
  margin-top: 15px;
}
.main_site_block11_cont5_phone {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  color: #18216D;
  opacity: 0.8;
  margin-top: 2px;
}
.main_site_block11_cont5_location {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  color: #18216D;
  opacity: 0.8;
  margin-top: 2px;
}
.main_site_block12 {
  width: 100%;
  height: 0px;
  border: 1px solid #18216D;
  opacity: 0.1;
  margin-top: 60px;
}
.main_site_block13 {
  text-align: center;
  margin-top: 30px;
}
.main_site_block13_IMM {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #18216D;
}

.imgAbsolute_1 {
  position: absolute;
  left: 25px;
  top: 0;
}
.imgAbsolute_2 {
  position: absolute;
  left: 50px;
  top: 0;
}
.imgAbsolute_3 {
  position: absolute;
  left: 75px;
  top: 0;
}
.imgAbsolute_4 {
  position: absolute;
  left: 100px;
  top: 0;
}/*# sourceMappingURL=style.css.map */