$inter: 'Inter', sans-serif;
$poppins: 'Poppins', sans-serif;
$blued: #18216D;

@mixin FlexElement($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: center
}

.site {
    &_header {
        @include FlexElement(space-between, center);
        width: 1400px;
        height: 52px;
        background: aqua;
        margin: 0 auto;
        &_logo {
            @include FlexElement(space-between, center);
            width: 114px;
            height: 32px;
            &_img {
                width: 32px;
                height: 32px;
            }
            &_p {
                font-family: $inter;
                color: $blued;
                font-weight: 600;
                font-size: 20px;
                line-height: 20px;
                text-align: center;
            }
        }
        &_nav {
            width: 507px;
            height: 20px;
            &_navitem {
                &_ul {
                    @include FlexElement(space-between, center);
                }
            }
        }
    }
}